.Back {
    cursor: pointer;
    position: absolute;
    top: -46%;
    left: 91.2%;
}

.Foward {
    cursor: pointer;
    position: absolute;
    top: -46%;
    left: 96.4%;
}

@media (max-width: 1000px) {
    .Back {
        top: 0%;
        left: 45%;
        z-index: 1;
    }

    .Foward {
        top: 0%;
        left: 55%;
    }

    .slick-list {
        padding-top: 5rem;
    }
}

@media (max-width: 600px) {
    .Back {
        left: 35%;
    }
}